
	<head>
		<title>Read Only by InfinitAds</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="https://github.com/InfinitAds/infinitAdsTest.github.io/master/js/jquery.min.js"></script>
		<script src="https://github.com/InfinitAds/infinitAdsTest.github.io/master/js/jquery.scrollzer.min.js"></script>
		<script src="https://github.com/InfinitAds/infinitAdsTest.github.io/master/js/jquery.scrolly.min.js"></script>
		<script src="https://github.com/InfinitAds/infinitAdsTest.github.io/master/js/skel.min.js"></script>
		<script src="https://github.com/InfinitAds/infinitAdsTest.github.io/master/js/skel-layers.min.js"></script>
		<script src="https://github.com/InfinitAds/infinitAdsTest.github.io/master/js/init.js"></script>
			<link rel="stylesheet" href="https://github.com/InfinitAds/infinitAdsTest.github.io/master/css/skel.css" />
			<link rel="stylesheet" href="https://github.com/InfinitAds/infinitAdsTest.github.io/master/css/style.css" />
			<link rel="stylesheet" href="https://github.com/InfinitAds/infinitAdsTest.github.io/master/css/style-xlarge.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
